*,
*:before,
*:after{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    height: 100vh;
    background: #abbfc3;
}
.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
}

.todoList{
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    margin-right: 120px;
    margin-left: 25px;
    
  
}
.deleteTask{
    background-color: #b8bdcd;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.inputvalue{
    position: relative;
    padding: 30px 20px;
    display: flex;
    margin: 5px;
    margin-bottom: 60px;
}
.inputVal{
    width: 350px;
    height: 45px;
    border-radius: 5px;
    margin-right: 5px;
    border: 2px solid #d1d3d4;
  
}
.btn{
   position: relative;
   float: right;
   width: 20%;
   height: 45px;
   border-radius: 5px;
   font-family: 'Poppins',sans-serif;
   font-weight: 500;
   font-size: 16px;
   background-color: #c5e1e6;
   border: none;
   color: #57595a;
   cursor: pointer;
   outline: none;
    
}
.clearTask{
   position: absolute;
   bottom: -40px;
   left: 15%;
   background: orangered;
   color: #ffffff;
   width: 250px;
   height: 35px;
   border-radius: 5px;
   text-transform: capitalize;
   font-weight: bold;
   cursor: pointer;
   outline-style: none;
}